<p id="notice"><%= notice %></p>

<p>
    <h3>
        <%= @article.name %>
    </h3>
</p>

<p>
    <div class="textarea">
        <%= @article.content %>
    </div>
</p>


<%= link_to '编辑', edit_article_path(@article) %> |
<%= link_to '返回', articles_path %>
